_ReSharper.*-csharp/
Build/
/Library/
obj/
Temp/
UnityVS*
*.apk
*.booproj
*.csproj
*.Dotsettings
*.DotSettings.user
*.exe
*.log
*.mdb
*.mdb.meta
*.pidb
*.psess
*.sln
*.suo
*.unityproj
*.userprefs
*.vsp
*.DS_Store
